mvp/HELP.md
.gradle
build/
!mvp/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
mvp/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

application-secrets.yml

mvp/.jpb

credentials.json
credentials-web.json

mvp/tokens
src/main/generated

.DS_Store
/.DS_Store

wiki
/wiki

node_modules/

.idea


# Ignore Gradle build output directory
build
